In [35]:
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score
from sklearn.ensemble import RandomForestClassifier , ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier 
from sklearn.preprocessing import StandardScaler , LabelEncoder
from sklearn.model_selection import train_test_split

In [16]:
df = pd.read_csv("crop_recommendation.csv")

Encode Labels

In [18]:
le = LabelEncoder()
le.fit(df["label"])
df["crop"] = le.transform(df["label"])

In [19]:
df.head(3)

    N   P   K  temperature   humidity        ph    rainfall label  crop
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice    20
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice    20
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice    20

In [20]:
df.tail(3)

        N   P   K  temperature   humidity        ph    rainfall   label  crop
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee     5
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee     5
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee     5

Standardize and Split Data

In [25]:
X = df.drop(['label','crop'],axis = 1)
y = df.crop
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [26]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2,random_state= 101)

Building Models

In [32]:
dtree = DecisionTreeClassifier()
dtree.fit(X_train , y_train)
y_pred = dtree.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.9931818181818182

In [34]:
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
print("The overall accuracy is : " , accuracy_score(y_test,y_pred))

The overall accuracy is :  0.9977272727272727

Storing Objects

In [48]:
recommender = {
    "label_encoder" : le,
    "standard_scaler" : scaler,
    "model" : rf
}

In [49]:
with open("recommender.pickle","wb") as file:
    pickle.dump(recommender,file)